.contact__image {
  @apply hidden;
}

.contact__image-wrap {
  max-height: 265px;
  max-width: 330px;
  @apply mx-auto;
}

.contact-form {
  @apply w-full;
}

.contact__content {
  @apply block w-full;
  padding: 4rem;
}

.hs-form-iframe {
  @apply w-full;
}
